<!-- Hidden input to store the post id -->
<div class="individual-post" data-post-id="{{post.id}}">
  <div class="post">
    <!-- Post Header -->
    <div class="post-header">
      <h3>{{post.title}}</h3>

      <!-- Tagline with author's username and creation date -->
      <p class="tagline">
        Written by
        {{post.User.user_name}}
        on
        {{format_date post.createdAt}}
      </p>
    </div>

    <!-- Post Content -->
    <div class="post-body">
      <p class="post-content"> {{post.content}} </p>

      <div class="post-btns-container">
        <!-- Comment Button for All Users -->
        <div class="comment-action-btn">
          <button class="comment-btn">Leave a Comment</button>
        </div>

        <!-- Add/Edit/Delete buttons (if authenticated user is the post owner) -->
        {{#if isOwner}}
          <div class="post-action-btns">
            <button class="edit-post-btn">&#x270F; Edit</button>
            <button class="delete-post-btn">&#x1F5D1; Delete</button>
          </div>

          <!-- Include the script for post buttons -->
          <script src="/js/postBtns.js"></script>
        {{/if}}
      </div>
    </div>
  </div>

  <!-- Add a form to submit new comments -->
  <!-- Add a container for the comment form initially hidden -->
  <div id="comment-form-container" class="hidden">
    <form data-postId="{{post.id}}" class="form new-comment-form">
      <!-- Textarea for entering comment content -->
      <div class="form-group">
        <label for="comment-content" class="comment-header">Comment Content:
        </label>
        <textarea
          id="comment-text"
          placeholder="Enter comment content"
        ></textarea>
      </div>
      <!-- Button to submit the comment -->
      <button class="submit-comment-btn" type="submit">Submit</button>
    </form>
  </div>
  <!-- Include the script for comment button handling -->
  <script src="/js/commentBtn.js"></script>

  <!-- Comments Section -->
  <div class="comments-section">
    <h4>Comments</h4>

    {{#each post.comments as |comment|}}
      <div class="comment">
        <p>{{comment.contents}}</p>
        <p class="comment-info">
          {{comment.User.user_name}}
          on
          {{format_date comment.createdAt}}
        </p>
      </div>
    {{/each}}

  </div>
</div>