<!-- Hidden input to store the post id -->
<div class="individual-post" data-post-id="{{post.id}}">
  <div class="post">
    <!-- Post Header -->
    <div class="post-header">
      <h3>{{post.title}}</h3>

      <!-- Tagline with author's username and creation date -->
      <p class="tagline">
        Written by
        {{post.User.user_name}}
        on
        {{format_date post.createdAt}}
      </p>
    </div>

    <!-- Post Content -->
    <div class="post-body">
      <p class="post-content"> {{post.content}} </p>

      <!-- Add/Edit/Delete buttons (if authenticated user is the post owner) -->
      {{#if isOwner}}
        <div class="post-btns-container">
          <button class="edit-post-btn">&#x270F; Edit</button>
          <button class="delete-post-btn">&#x1F5D1; Delete</button>
        </div>
      {{/if}}
    </div>
  </div>
</div>

<script src="/js/postBtns.js"></script>